<% include partials/header %>

<div class="container" id="searchResult">
	<!--<a href="/json">View JSON</a>-->
	<div class="row" id="searchDisplay">
		<% productList.forEach(function(product) { %>
			<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12" id="searchItem">
				<div class="thumbnail">
					<a id="image" href="<%= product.url %>"><img class="img-rounded" src="<%= product.image %>"></a>
					<p id="title"><strong><%= product.title %></strong></p>
					<p id="price"><strong>Price: </strong><del><%= product.price["amount"] %>
						<%= product.price["currency"] %></del> (<span id="discount"><%= product.discount %>%</span> off)</p>
					<p id="specialPrice"><strong>Flipkart Price: </strong><%= product.specialPrice["amount"] %>
						<%= product.specialPrice["currency"] %></p>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<% include partials/footer %>